html {
	overflow: hidden;
}

html,
body {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
}

.content {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;

	background-color: #bdbebd;
}

.content>h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 20em;
	font-weight: bold;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);

}

.content:nth-child(even) {
	background-color: #333;
}

.section{
	height: 100vh;
	width: calc(100% / 5);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
	float: left;
	background-color: #bdbebd;
}
.sections{
	width: 500%;
	height: 100%;
}

.section:nth-child(even){
	background-color: #333;
}
.icon-left {
    position: fixed;
    top: 50%;
    left: 90%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
}
.icon-right {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
}
  
.arrow-left {
    position: fixed;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
}

.arrow-left::after, .arrow-left::before {
    content: '';
    position: fixed;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: #fff;
}
  
.arrow-left::after {
    top:11px;
    transform: rotate(45deg);
}
  
.arrow-left::before {
    top: 39px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}

.arrow-right{
    position: fixed;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: #fff;
    box-shadow:0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
}

.arrow-right::after, .arrow-right::before {
    content: '';
    position: fixed;
    width: 60%;
    height: 10px; 
    left: -8px;
    background-color: #fff;
}

.arrow-right::after {
    top: 11px;
    transform: rotate(-45deg);
  }
  
.arrow-right::before {
    top: 39px;  
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(45deg);
}

.logo {
	position: relative;
	margin  : 0 0 0 5px;
}
.logo_ul{
    display: inline-block;
    list-style:none;
    margin: 0;
    padding: 0;
}
.logo_ul,li{
    display: inline-block;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background: #fff;
    display: flex;
    flex-direction:  column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    color: #333;
    font-weight: 800;
    margin-bottom: 20px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline:  none;
    background: #f5f5f5;
    font-size:  16px;
}
form button{
    padding: 15px;
    background: #ff5361;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline:  none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.card {
  width: 70%;
  padding: 30px 90px 90px 90px;
  border: 6px solid rgba(0, 0, 0, 0.3);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  position: relative;
}

.card h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 60px;
  text-transform: uppercase;
}

.card .row {
  position: relative;
  width: 100%;
  display: grid;
  grid: auto / auto auto;
  grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
  grid-gap: 30px;
}

.card .row .col {
  position: relative;
  width: 100%;
  margin: 30px 20px 40px 0;
  transition: 0.5s;
}

.card .row .form-group {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ffffff;
}

.card .row .form-group input,
.card .row .form-group textarea {
  position: absolute;
  width: 90%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border-radius: 50px;
}

.card .row .form-group label {
  line-height: 40px;
  color: #ffffff;
  font-size: 24px;
  margin: 0 0 0 30px;
  display: block;
  pointer-events: none;
}

.row .col:nth-child(6) {
  margin-top: 64px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
  border: 5px solid #ffffff;
  transition: all 0.5s;
}

.card .row button {
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
}

.card .row button:hover {
  border: 5px solid rgba(255, 255, 255, 1);
  color: #ffffff;
  transition: all 0.4s;
}

@media screen and (max-width: 900px) {
  .card .row {
    grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
  }
  
  .card {
    padding: 20px;
  }
  
  .card h2 {
    font-size: 34px;
  }
  
  .card .row button {
    width: 100%;
  }
}